<div class="jumbotron">
    <div class="container text-center">
        <h1>Pub & Moi</h1>
        <p>L'Application rémunératrice publicitaire révolutionnaire</p>
    </div>
</div>

<div class="card-deck" *ngIf="!params.isLoggedIn">
    <div class="card">
        <img class="card-img-top w-50 mx-auto" src="assets/shirt.jpeg">
        <div class="card-body">
            <h5 class="card-title">Mission Vestimentaire</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer text-center">
            <a class="btn btn-primary">Démonstration</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-50 mx-auto" src="assets/coca.jpg">
        <div class="card-body">
            <h5 class="card-title">Mission Marquage Voiture</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer text-center">
            <a class="btn btn-primary">Démonstration</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-50 mx-auto" src="assets/street.jpeg">
        <div class="card-body">
            <h5 class="card-title">Mission Street Marketing</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer text-center">
            <a class="btn btn-primary">Démonstration</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top w-50 mx-auto" src="assets/flyer.jpg">
        <div class="card-body">
            <h5 class="card-title">Mission Distribution de Flyer</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer text-center">
            <small>En cours de développement</small>
        </div>
    </div>
</div>

<div *ngIf="params.isLoggedIn">
    <app-map></app-map>
</div>